body {
  font-size: 20px;
  color: black;
}

#current-op-str {
  font-size: 25px;

}

#calc-wrapper {
  border: 5px solid black;
  border-radius: 10px;
  background-color: #333;
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-areas: "display display display display"
                       "optionPad optionPad optionPad optionPad" 
                       "numpad numpad numpad oppad";
  grid-gap: 5px;
  grid-template-rows: 2fr, 1fr, 4fr;
}

#calc-display {
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  background-color: rgb(230, 230, 230);
  width: 90%;
  height: 70px;
  text-align: right;
  margin: auto;
  padding: 5px;
  grid-area: display;
  display: grid;
  align-items: center;
}

#current-operation {
  padding: 5px;
}

#numpad {
  grid-area: numpad;
  display: grid;
  grid-template-areas: "one two three"
    "four five six"
    "seven eight nine"
    "zero zero decimal";
  grid-gap: 5px;
  /* margin: 5px; */
}

.numpad-num {
  padding: 5px;
  /*     border: 1px solid black; */
  border-radius: 25px;
  background-color: #999;
  text-align: center;
  display: grid;
  align-items: center;
  transition: all .25s ease;
}

.numpad-num:hover {
  cursor:pointer;
  background-color: #555;
  color: white;
  text-shadow: 1px 1px black;
  transition: all .25s ease;
}


#num-1 {
  grid-area: one;
}

#num-2 {
  grid-area: two;
}

#num-3 {
  grid-area: three;
}

#num-4 {
  grid-area: four;
}

#num-5 {
  grid-area: five;
}

#num-6 {
  grid-area: six;
}

#num-7 {
  grid-area: seven;
}

#num-8 {
  grid-area: eight;
}

#num-9 {
  grid-area: nine;
}

#num-0 {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#operation-pad {
  display: grid;
  grid-area: oppad;
  grid-gap: 5px;
  padding: 0px 5px 5px 0px;
}

#options-pad {
  display: grid;
  grid-gap: 5px;
  grid-area: optionPad;
  grid-template-columns: 1fr 1fr;
}

#equals:hover {
  background-color: rgb(34, 255, 34);
  transition: all .25s ease;
}

#clear:hover {
  background-color: rgb(255, 34, 34);
  transition: all .25s ease;
}

#backspace:hover {
  background-color: rgb(255, 185, 34);
  transition: all .25s ease;
}

.operator:hover {
  background-color: rgb(34, 148, 255);
  transition: all .25s ease;
}